{;; This is a good place to depend on developer tooling, so you can keep that
 ;; out of your sub-projects and have it all in one place
 :deps
 {djblue/portal {:mvn/version "0.29.1"}
  lambdaisland/kaocha {:mvn/version "1.69.1069"}
  vvvvalvalval/scope-capture {:mvn/version "0.3.3"}}

 ;; Monorepo setup with two subprojects, if you have a multi-repo setup then use
 ;; paths like `"../proj1"`
 :aliases
 {:proj1 {:deps {com.example/proj1 {:local/root "proj1"}}}
  :proj2 {:deps {com.example/proj2 {:local/root "proj2"}}
          ;; This assumes proj2 contains a shadow-cljs.edn with a build named
          ;; `:frontend`, this will start the shadow-cljs watcher if the proj2
          ;; alias is enabled
          :launchpad/shadow-build-ids [:frontend]}}}
