{:deps
 {lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :git/sha "730f28fd2a7d8afade6d918658dc770dd7720cc7"
                            #_#_:local/root "../open-source"}
  com.lambdaisland/launchpad {:local/root "."}}}
