{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {djblue/portal {:mvn/version "RELEASE"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.69.1069"}}}}}
