{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  com.lambdaisland/dotenv {:mvn/version "0.1.1"}}

 :aliases
 {:clojure { :extra-deps { babashka/babashka {:mvn/version "1.0.164" :scope "provided"}} }
  :dev
  {:extra-paths ["dev"]
   :extra-deps  {djblue/portal {:mvn/version "RELEASE"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.70.1086"}}}}}
