;; This file is just a lookup file for Launchpad to find the version of various
;; things to use. We keep it in deps.edn format so we can automatically upgrade
;; versions.
{:deps
 {com.lambdaisland/launchpad    {:mvn/version "0.44.193-alpha"}
  com.lambdaisland/classpath    {:mvn/version "0.6.58"}
  com.github.jnr/jnr-posix      {:mvn/version "3.1.20"}
  thheller/shadow-cljs          {:mvn/version "3.2.0"}
  com.google.guava/guava        {:mvn/version "33.4.8-jre"}
  cider/cider-nrepl             {:mvn/version "0.57.0"}
  nrepl/nrepl                   {:mvn/version "1.4.0"}
  refactor-nrepl/refactor-nrepl {:mvn/version "3.11.0"}
  djblue/portal                 {:mvn/version "0.61.0"}
  com.billpiel/sayid            {:mvn/version "0.1.0"}
  com.gfredericks/debug-repl    {:mvn/version "0.3.1-p1"}
  }}
